.activity-feedback {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.activity-feedback .element-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.activity-feedback .element {
  color: #000000;
  font-family: "Nanum Gothic", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.5px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.activity-feedback .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.activity-feedback .p {
  color: #000000;
  font-family: "Nanum Gothic", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1px;
  position: relative;
  width: 1000px;
}
