.club-list {
  background-color: #f6feff;
  /* height: 1508px; */
  /* height: 100%; */
  /* min-height: 100vh; */
  position: relative;
  width: 1728px;
}

.club-list .upper-bar {
  /* background-image: url(../../../static/img/image-3-1.png); */
  background-size: 100% 100%;
  height: 245px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1728px;
}

.club-list .under-bar {
  background-color: #f6feff;
  height: 81px;
  left: -167px;
  /* position: absolute; */
  position: relative;
  /* top: 1427px; */
  width: 1728px;
}

.club-list .sub-title-instance {
  left: 155px !important;
  position: absolute !important;
  top: 285px !important;
}

.club-list .design-component-instance-node {
  margin-right: unset !important;
}

.club-list .frame-8 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 167px;
  position: absolute;
  top: 339px;
  width: 1561px;
}

.club-list .frame-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  margin-top: 18px;
}

.club-list .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.club-list .frame-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 11px;
  position: relative;
}

.club-list .club-list-element-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 28px;
  position: relative;
}