.cafenotice-list {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #000000;
  height: 87px;
  position: relative;
  width: 1394px;
}

.cafenotice-list .text-wrapper-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  width: 1150px; /* 이 너비는 아마도 조정이 필요할 것입니다. */
  white-space: nowrap;
  overflow: hidden; /* 내용이 넘칠 때 숨김 처리 */
  text-overflow: ellipsis; /* 넘친 텍스트를 "..."으로 표시 */
}

.cafenotice-list .text-wrapper-3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
}

.cafenotice-list .text-wrapper-4 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 1265px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 31px;
}

.cafenotice-list .image {
  height: 52px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 52px;
}
