.calendar .frame-5 {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 4px 4px 2px 1px #7cd2d833;
  height: 629px;
  left: 1127px;
  position: absolute;
  top: 1027px;
  width: 434px;
}

.calendar .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  gap: 97px;
  left: 38px;
  position: absolute;
  top: 29px;
}

.calendar .text-wrapper-16 {
  color: #000000;
  font-family: "NanumBarunGothic-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.calendar .frame-7 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 37px;
  position: absolute;
  top: 96px;
}

.calendar .frame-10 {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 4px 4px 2px 1px #7cd2d81a;
  height: 629px;
  left: 160px;
  position: absolute;
  top: 1027px;
  width: 937px;
}

.calendar .frame-11 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 346px;
  position: absolute;
  top: 27px;
  width: 245px;
}

.calendar .text-wrapper-17 {
  color: #000000;
  font-family: "NanumBarunGothic-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.calendar .text-wrapper-18 {
  color: #000000;
  font-family: "NanumBarunGothic-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 161px;
}

.calendar .frame-12 {
  align-items: flex-start;
  display: inline-flex;
  left: 55px;
  position: absolute;
  top: 88px;
}

.calendar .text-wrapper-19 {
  color: #000000;
  font-family: "NanumBarunGothic-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 28px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 118px;
}

.calendar .frame-13 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 55px;
  position: absolute;
  top: 123px;
}

.calendar .frame-14 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.calendar .calendar-day-instance {
  position: relative !important;
}
