.home {
  background-color: #f6feff;
  width: 1728px;
  height: 1096px;
  overflow: hidden; /* Hide overflowed content */
  position: relative; /* Set position to relative */
}

.home .div-2 {
  background-color: #f6feff;
  height: 1046px;
  width: 1728px;
}

.home .upper-bar-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.home .under-bar {
  background-color: #f6feff;
  height: 81px;
  left: 0;
  position: absolute;
  top: 1015px;
  width: 1728px;
}

.home .frame-8 {
  align-items: flex-start;
  display: flex;
  gap: 45px;
  left: 154px;
  position: absolute;
  top: 285px;
}

.home .center-card-instance {
  margin-right: -45px !important;
}

.home .design-component-instance-node {
  margin-right: unset !important;
}

.home .frame-9 {
  align-items: flex-end;
  display: inline-flex;
  gap: 112px;
  left: 154px;
  position: absolute;
  top: 741px;
}

.home .sub-title-instance {
  left: 155px !important;
  position: absolute !important;
  top: 966px !important;
}

.home .sub-title-2 {
  margin-right: -82px !important;
}

.home .sub-title-3 {
  left: 155px !important;
  position: absolute !important;
  top: 680px !important;
}
