.club-list-element {
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 1px #7cd2d80d;
  height: 94px;
  position: relative;
  width: 693px;
}

.club-list-element .p {
  color: #8d8d8d;
  font-family: "NanumBarunGothic-Bold", Helvetica;
  font-size: 17px;
  font-weight: 400;
  height: 20px;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 54px;
  width: 518px;
}

.club-list-element .span {
  font-weight: 700;
}

.club-list-element .text-wrapper-3 {
  font-family: "NanumBarunGothic-Regular", Helvetica;
}

.club-list-element .frame {
  align-items: center;
  display: inline-flex;
  gap: 11px;
  left: 24px;
  position: absolute;
  top: 18px;
}

.club-list-element .MUSE {
  color: #000000;
  font-family: "NanumBarunGothic-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.club-list-element .text-wrapper-4 {
  color: #000000;
  font-family: "NanumBarunGothic-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.club-list-element .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  left: 627px;
  position: absolute;
  top: 26px;
}

.club-list-element .img {
  height: 20px;
  object-fit: cover;
  position: relative;
  width: 20px;
}

.club-list-element .text-wrapper-5 {
  color: #8d8d8d;
  font-family: "NanumBarunGothic-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.club-list-element .register-button {
  position: absolute;
  z-index: 10;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  right: 15px;
  bottom: 10px;
  background: #7dd2d9;
  text-align: center;
  padding: 5px;
  font-family: "NanumBarunGothic-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
