.upper-bar {
  /* background-image: url(../../../static/img/image-3-1.png); */
  background-size: 100% 100%;
  height: 245px;
  position: relative;
  width: 1728px;
}

.upper-bar .group {
  height: 68px;
  left: 21px;
  position: absolute;
  top: 19px;
  width: 152px;
}

.upper-bar .image {
  height: 60px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 65px;
}

.upper-bar .div-clubs {
  color: #7cd2d8;
  font-family: "Noto Sans Arabic", Helvetica;
  font-size: 31px;
  font-weight: 600;
  height: 65px;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.upper-bar .frame {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  height: 30px;
  left: 286px;
  position: absolute;
  top: 43px;
  width: 422px;
}

.upper-bar .upperbar-menu-instance {
  flex: 0 0 auto !important;
}

.upper-bar .clubs {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 86px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 100px;
}

.upper-bar .span {
  color: #7cd2d8;
  font-weight: 700;
}

.upper-bar .text-wrapper-2 {
  color: #ffffff;
  font-weight: 700;
}
.upper-bar .text-wrapper-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 40px !important;
}

.upper-bar .text-wrapper-3 {
  color: #7cd2d8;
  font-family: "Noto Sans", Helvetica;
  font-weight: 700;
}

.upper-bar .text-wrapper-4 {
  color: #ffffff;
  font-family: "Noto Sans", Helvetica;
  font-weight: 700;
}

.upper-bar .loading-bar-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.upper-bar .frame-200 {
  align-items: center;
  display: inline-flex;
  gap: 11px;
  justify-content: center;
  right: 20px;
  position: absolute;
  top: 43px;
}

.upper-bar .img {
  height: 18px;
  object-fit: cover;
  position: relative;
  width: 18px;
}

.upper-bar .login {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
}

.upper-bar .text-wrapper {
  color: #ffffff;
  font-family: "NanumBarunGothic-Regular", Helvetica;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.upper-menu-group {
  padding-bottom: 10px;
}

.upper-bar .sub-menu {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: 130px;
  margin-top: 10px;
  border: 1px solid #ddd;
  left: 50%; /* 현재 요소의 왼쪽 모서리를 상위 요소의 중앙으로 이동 */
  transform: translateX(-50%);
}

.upper-bar .sub-menu button {
  display: block;
  padding: 10px;
  border: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
}

.upper-bar .sub-menu button:hover {
  background-color: #f7f7f7;
}
